.game-details__container {
	width: 100%;
	min-height: 80vh;
	position: relative;
	/* background-color: antiquewhite; */
	margin: auto;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	/* flex-direction: column; */
	flex-wrap: wrap;
}

.game-details__container a {
	text-decoration: none;
	position: absolute;
	left: 50px;
	top: 200px;
	z-index: 99;
}

.game-details__container a span {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #666666;
	font-size: 3rem;
	/* text-align: center; */
	width: 55px;
	height: 55px;
	border-radius: 50%;
	background-color: #ececece0;
	transition: all .5s;
}

.game-details__container a span:hover {
	color: #ececece0;
	background-color: #666666;
}

.game-details__container .game-details__img {
	position: absolute;
	top: 20px;
	width: 100%;
	height: 60vh;
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* .game-details__container .game-details__img img {
	width: 100%;
} */

.game-details__container .game-cards__container {
	position: absolute;
	left: 50px;
	top: 350px;
	display: flex;
	flex-wrap: wrap;
}

.info-game___details {
	width: 100%;
	/* padding:20px; */
	/* height: 50vh; */
	margin: 150px auto;
	/* background-color: blue; */
	/* overflow: hidden; */
}
 .info-game___details h3 {
	text-align: center;
	font-size: 3rem;
	font-family: Calibri;
	font-weight: 300;
	margin-bottom: 50px;
 }
